@page
@model LoginModel

@{
	ViewData["Title"] = "Apriori - Sign in";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<!-- icheck bootstrap -->
	<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/css/login.css">
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<form id="account" method="post">
											<div class="section text-center">
												<h4 class="mb-4 pb-3">Log In</h4>
												<div class="form-group">
													<input asp-for="Input.Email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="username" aria-required="true">
													<i class="input-icon uil fas fa-at"></i>
													<span asp-validation-for="Input.Email" class="text-danger"></span>
												</div>
												<div class="form-group mt-2">
													<input asp-for="Input.Password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="current-password" aria-required="true">
													<i class="input-icon fas fa-lock"></i>
													<span asp-validation-for="Input.Password" class="text-danger"></span>
												</div>
												<div asp-validation-summary="ModelOnly" class="text-danger"></div>
												<div>
													<label asp-for="Input.RememberMe" class="form-label" hidden="on">
														<input class="form-check-input" asp-for="Input.RememberMe" />
														@Html.DisplayNameFor(m => m.Input.RememberMe)
													</label>
												</div>
												<button id="login-submit" type="submit" class="btn mt-4">submit</button>
												<p class="mb-0 mt-4 text-center"><a href="/Identity/Account/Register" class="link">Register now!</a></p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="~/plugins/jquery/jquery.min.js"></script>
		<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/scriptche.js"></script>

		<partial name="_ValidationScriptsPartial" />
</body>
</html>