@page
@model RegisterModel
@{
	ViewData["Title"] = "Apriori - Register";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<link rel="stylesheet" href="~/css/login.css">

</head>
<body class="hold-transition register-page">
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
											<div class="section text-center">
												<h4 class="mb-4 pb-3">Register</h4>
												<div class="form-group">
													<input asp-for="Input.Email" type="email" class="form-style" placeholder="Email" id="logname" autocomplete="username" aria-required="true">
													<i class="fas fa-at"></i>
													<span asp-validation-for="Input.Email" class="text-danger"></span>
												</div>
												<div class="form-group mt-2">
													<input asp-for="Input.Password" type="password" class="form-style" placeholder="Password" id="logpass" autocomplete="new-password" aria-required="true">
													<i class="fas fa-lock"></i>
													<span asp-validation-for="Input.Password" class="text-danger"></span>
												</div>
												<div class="form-group mt-2">
													<input asp-for="Input.ConfirmPassword" type="password" class="form-style" placeholder="Retype password" id="logpass" autocomplete="new-password" aria-required="true">
													<i class="fas fa-lock"></i>
													<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
												</div>
												<button id="registerSubmit" type="submit" class="btn mt-4">submit</button>
												<p class="mb-0 mt-4 text-center"><a href="/Identity/Account/Login" class="link">Login now!</a></p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/scriptche.js"></script>

	<partial name="_ValidationScriptsPartial" />
</body>
</html>