@{
	ViewData["Title"] = "Home Page of Admin Area";
}

<div class="text-center">
	<h1 class="display-4">Admin Area</h1>
	<form action="/" method="get">
		<input type="submit" value="Go back to home" name="Submit" id="frm1_submit" />
	</form>
</div>
