<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="~/plugins/toastr/toastr.min.css" />
	<!-- new css for template-->
	<link rel="stylesheet" href="~/css/style.css">

	@await RenderSectionAsync("Head", false)
</head>
<body>
	@RenderBody()
	<partial name="_MainMenu" />

	<!-- banner section starts  -->

	<section class="banner-container">

		<div class="banner">
			<img src="~/image/shop_banner_img1.jpg" alt="">
			<div class="content">
				<span>special offer</span>
				<h3>upto 50% off</h3>
				<a href="#" class="btn">shop now</a>
			</div>
		</div>

		<div class="banner">
			<img src="~/image/shop_banner_img2.jpg" alt="">
			<div class="content">
				<span>special offer</span>
				<h3>upto 50% off</h3>
				<a href="#" class="btn">shop now</a>
			</div>
		</div>

	</section>

	<!-- banner section ends -->
	<!-- products section starts  -->

	<section class="products" id="products">

		<h1 class="heading"> exclusive <span>products</span> </h1>

		<div class="filter-buttons">
			<div class="buttons active" data-filter="all">all</div>
			<div class="buttons" data-filter="arrivals">new arrivals</div>
			<div class="buttons" data-filter="featured">featured</div>
			<div class="buttons" data-filter="special">special offer</div>
			<div class="buttons" data-filter="seller">best seller</div>
		</div>

		<div class="box-container">

			<div class="box" data-item="featured">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img1.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="special">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img2.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="seller">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img3.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="arrivals">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img4.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="featured">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img5.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="arrivals">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img6.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="special">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img7.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="seller">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img8.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="seller">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img9.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="featured">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img10.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="special">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img11.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>

			<div class="box" data-item="seller">
				<div class="icons">
					<a href="#" class="fas fa-shopping-cart"></a>
					<a href="#" class="fas fa-heart"></a>
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/product_img12.jpg" alt="">
				</div>
				<div class="content">
					<h3>product name</h3>
					<div class="price">
						<div class="amount">$20.00</div>
						<div class="cut">$25.00</div>
						<div class="offer">20% off</div>
					</div>
					<div class="stars">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<span>(50)</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- products section ends -->

	<!-- deal section starts  -->

	<section class="deal">

		<div class="~/image">
			<img src="~/image/tranding_img.png" alt="">
		</div>

		<div class="content">
			<span>new!</span>
			<h3>make your own custom clothes and more!</h3>
			<p>sale get up to 50% off</p>
			<a href="#" class="btn">shop now</a>
		</div>

	</section>

	<!-- deal section ends -->

	<!-- footer section starts -->

	<partial name="_Footer" />

	<!-- footer section ends -->

	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

	<!-- REQUIRED SCRIPTS -->
	<!-- custom js file link -->
	<script src="~/js/script.js"></script>
	<!-- jQuery -->
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--Toastr -->
	<script src="~/plugins/toastr/toastr.min.js"></script>

	<partial name="_UserMessages" />
	@await RenderSectionAsync("Scripts", false)
</body>
</html>
