<!-- header section starts  -->
<header class="header">

	<a href="" class="logo"> <i class="fas fa-shopping-cart"></i> shop </a>

	<nav class="navbar">
		<a href="products">products</a>
		<a href="featured">featured</a>
		<a href="review">review</a>
		<a href="contact">contact</a>
		<a href="blogs">blogs</a>
	</nav>

	<div class="icons">
		<a href="cart" class="fas fa-shopping-cart"></a>
		<div class="dropdown">
			<a class="fas fa-user"></a>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>
	</div>

	<form action="" class="search-form">
		<input type="search" name="" placeholder="search here..." id="search-box">
		<label for="search-box" class="fas fa-search"></label>
	</form>

</header>

<!-- header section ends -->