<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<!-- header section starts  -->
<header class="header">

	<a href="" class="logo"> <i class="fas fa-shopping-cart"></i> shop </a>

	<nav class="navbar">
		<a href="products">products</a>
		<a href="featured">featured</a>
		<a href="review">review</a>
		<a href="contact">contact</a>
		<a href="blogs">blogs</a>
	</nav>

	<div class="icons">
		<a href="cart" class="fas fa-shopping-cart"></a>
		<div class="dropdown">
			<a class="fas fa-user"></a>
			<div class="dropdown-content">
				<div class="login">
					<h3>User Profile</h3>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</div>
	</div>

	<form action="" class="search-form">
		<input type="search" name="" placeholder="search here..." id="search-box">
		<label for="search-box" class="fas fa-search"></label>
	</form>

</header>

<script>
	var dd_main = document.querySelector(".dd_main");

	dd_main.addEventListener("click", function(){
		this.classList.toggle("active");
	})
</script>