@using AprioriSite.Core.Constants
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<!-- header section starts  -->
<header class="header">

	<a href="/" class="logo"> <i class="fas fa-shopping-cart"></i> Apriori </a>

	<nav class="navbar">
		<a href="/">home</a>
		<a href="/products/products">catalog</a>
		<a href="/home/howitworks">how it works</a>
		<a href="/home/contactus">contact us</a>
	</nav>

	<div class="icons">
		<div class="action">
			<div class="profile" onclick="menuToggle();">
				<div class="iconsF">
					@if (User.IsInRole(UserConstants.Roles.Administrator))
					{
						<a href="/admin/user/adminpanel" class="fas fa-tools"></a>
					}
					<a href="cart" class="fas fa-shopping-cart iconc"></a>
					<a class="fas fa-user iconu"></a>
				</div>
			</div>
			<div class="menu">
				@if (User.Identity.Name != null)
				{
					<h3>@User.Identity.Name.Split('@')[0]<br />
					@if(@User.IsInRole("Administrator"))	
					{
						<span>Administrator</span>
					}
					else
					{
						<span>User</span>
					}
					</h3>
					<ul>
						<li>
							<img src="" /><a href="/user/myprofile">My profile</a>
						</li>
						<li>
							<img src="" /><a href="/user/editprofile">Edit profile</a>
						</li>
						<li>
							<img src="" /><a href="#">Inbox</a>
						</li>
						<li>
							<img src="" /><a href="#">Setting</a>
						</li>
						<li><img src="" /><a href="/home/contactus">Help</a></li>
						<li>
							<form name="logout" id="logout" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
								<img src="" /><a href="javascript:document.forms['logout'].submit()">Logout</a>
							</form>
						</li>
					</ul>
				}
			</div>
		</div>
	</div>
</header>