@{
	ViewData["Title"] = "Home Page";
	Layout = null;
}

<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
								$(function(){

							var img = new Image();
							img.onload = function(){
								ctx.drawImage(img, 0,0);
							};
							img.src = document.getElementById("addimage").href;

							var canvas=document.getElementById("canvas");
							var ctx = canvas.getContext("2d");
							var canvasOffset=$("#canvas").offset();
							var offsetX=canvasOffset.left;
							var offsetY=canvasOffset.top;
							var canvasWidth=canvas.width;
							var canvasHeight=canvas.height;
							var isDragging=false;

							function handleMouseDown(e){
							  canMouseX=parseInt(e.clientX-offsetX);
							  canMouseY=parseInt(e.clientY-offsetY);
							  // set the drag flag
							  isDragging=true;
							}

							function handleMouseUp(e){
							  canMouseX=parseInt(e.clientX-offsetX);
							  canMouseY=parseInt(e.clientY-offsetY);
							  // clear the drag flag
							  isDragging=false;
							}

							function handleMouseOut(e){
							  canMouseX=parseInt(e.clientX-offsetX);
							  canMouseY=parseInt(e.clientY-offsetY);
							  // user has left the canvas, so clear the drag flag
							  //isDragging=false;
							}

							function handleMouseMove(e){
							  canMouseX=parseInt(e.clientX-offsetX);
							  canMouseY=parseInt(e.clientY-offsetY);
							  // if the drag flag is set, clear the canvas and draw the image
							  if(isDragging){
								  ctx.clearRect(0,0,canvasWidth,canvasHeight);
								  ctx.drawImage(img,canMouseX-128/2,canMouseY-120/2,128,120);
							  }
							}

							$("#canvas").mousedown(function(e){handleMouseDown(e);});
							$("#canvas").mousemove(function(e){handleMouseMove(e);});
							$("#canvas").mouseup(function(e){handleMouseUp(e);});
							$("#canvas").mouseout(function(e){handleMouseOut(e);});
						});
	</script>

</head>
<body>
	<canvas class="canvas" id="canvas" width=240 height=240 style="background:url(https://cdn.discordapp.com/attachments/268782589785931776/945625951788748820/unknown.png)"></canvas>
	<button onclick="download()">Download</button>
	<img id="addimage" href="https://media.discordapp.net/attachments/958825603686092902/960532555017359410/unknown.png?width=1144&height=325" />
</body>