@{
	ViewData["Title"] = "Customise";
	Layout = null;
}

<script>
		$(function(){

		var img = new Image();
		img.onload = function(){
			ctx.drawImage(img, 0,0);
		};
		img.src = document.getElementById("image_input");

		var canvas=document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		var canvasOffset=$("#canvas").offset();
		var offsetX=canvasOffset.left;
		var offsetY=canvasOffset.top;
		var canvasWidth=canvas.width;
		var canvasHeight=canvas.height;
		var isDragging=false;

		function handleMouseDown(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // set the drag flag
		  isDragging=true;
		}

		function handleMouseUp(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // clear the drag flag
		  isDragging=false;
		}

		function handleMouseOut(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // user has left the canvas, so clear the drag flag
		  //isDragging=false;
		}

		function handleMouseMove(e){
		  canMouseX=parseInt(e.clientX-offsetX);
		  canMouseY=parseInt(e.clientY-offsetY);
		  // if the drag flag is set, clear the canvas and draw the image
		  if(isDragging){
			  ctx.clearRect(0,0,canvasWidth,canvasHeight);
			  ctx.drawImage(img,canMouseX-128/2,canMouseY-120/2,128,120);
		  }
		}

		$("#canvas").mousedown(function(e){handleMouseDown(e);});
		$("#canvas").mousemove(function(e){handleMouseMove(e);});
		$("#canvas").mouseup(function(e){handleMouseUp(e);});
		$("#canvas").mouseout(function(e){handleMouseOut(e);});
	});
</script>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body onload="draw();">
	<partial name="_MainMenu" />

	<h1 class="heading">Customise</h1>
	<h1 class="heading"></h1>
	<h1 class="heading"><span>Customise</span> </h1>

	<div class="customiseCenter">
		<canvas class="canvasedit" id="canvas" width=346 height=346></canvas>
		<p></p>
		<a id="download" download="myImage.jpg" href="" onclick="download_img(this);">Download to myImage.jpg</a>
		<form action="/action_page.php">
			<input type="file" id="myFile" accept="image/*" onchange="upload_img()" name="filename">
		</form>
	</div>

	<section class="dealdetails">
		<div class="content">
			<div class="content">
				<p>@Model.Category - @Model.Subcategory</p>
				<h3>@Model.Label</h3>
				<h3></h3>
				<p> Upload your picture to the right and we will email you a preview of the item so you can confirm if you like it and then order it! </p>

				<a href="/products/order?id=@(Model.Id)" class="btn">Finish and send</a>
			</div>
		</div>
	</section>

	<img class="optionalstuff" id="optionalstuff" src=@Model.ImageUrl>

	<partial name="_Footer" />

	<script>
		var background=new Image();
		var imageBackground = document.getElementById("optionalstuff")
		background.crossOrigin = 'anonymos';
		background.src = imageBackground.src;////model za background image
		var img=new Image();

		var imageUploaded=new Boolean(false);

		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		var ox = canvas.width/6;
		var oy = canvas.height/6;

		download_img = function(el) {
		  var image = canvas.toDataURL("image/jpg");
		  el.href = image;
		};

		upload_img=function(){
			var file=document.getElementById('myFile').files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onloadend=function(e){
				img.src=e.target.result;
			}
			imageUploaded=true;
			draw();
		}


		draw=function(){
			if(imageUploaded)
			{
			ctx.drawImage(img, 10,10);
			}
			var canvasOffset=$("#canvas").offset();
			var offsetX=canvasOffset.left;
			var offsetY=canvasOffset.top;
			var canvasWidth=canvas.width;
			var canvasHeight=canvas.height;
			var isDragging=false;
			ctx.drawImage(background,0,0);
			function handleMouseDown(e){
			  canMouseX=parseInt(e.clientX-offsetX);
			  canMouseY=parseInt(e.clientY-offsetY);
			  isDragging=true;
			}

			function handleMouseUp(e){
			  canMouseX=parseInt(e.clientX-offsetX);
			  canMouseY=parseInt(e.clientY-offsetY);
			  isDragging=false;
			}

			function handleMouseOut(e){
			  canMouseX=parseInt(e.clientX-offsetX);
			  canMouseY=parseInt(e.clientY-offsetY);
			}

			function handleMouseMove(e){
			  canMouseX=parseInt(e.clientX-offsetX);
			  canMouseY=parseInt(e.clientY-offsetY);
			  if(isDragging){
				  ctx.clearRect(0,0,canvasWidth,canvasHeight);
				  ctx.drawImage(background,0,0);
				  if(imageUploaded){
				  ctx.drawImage(img,canMouseX-128/2,canMouseY-120/2,128,120);
				  }
			  }
			}

			$("#canvas").mousedown(function(e){handleMouseDown(e);});
			$("#canvas").mousemove(function(e){handleMouseMove(e);});
			$("#canvas").mouseup(function(e){handleMouseUp(e);});
			$("#canvas").mouseout(function(e){handleMouseOut(e);});
		};
	</script>

	<!-- REQUIRED SCRIPTS -->
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>
