@using AprioriSite.Core.Models
@model OrderAndItemViewModel


@{
	ViewData["Title"] = "Order";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/checkout.css">
</head>

<body>
	<partial name="_MainMenu" />

	<section class="content">

		<form id="order" method="post">
			<div class="containerorder">
			</div>
			<div class="details shadow">
				<div class="details__item">

					<div class="item__image">
						<img id="customImage" class="iphone" src="" alt="">
					</div>
					<div class="item__details">
						<div class="item__title">
						</div>
						<div class="item__price">
							@string.Format("{0:n2}", @Model.ItemsDetailsViewModel.Price) $
						</div>
						<div class="item__quantity">
							Quantity:
							<select class="input ddl">
								<option selected>01</option>
								<option>02</option>
								<option>03</option>
								<option>04</option>
								<option>05</option>
								<option>06</option>
								<option>07</option>
								<option>08</option>
								<option>09</option>
								<option>10</option>
							</select>
						</div>
						<div class="item__description">
							<ul style="">
								<li>@Model.ItemsDetailsViewModel.Description</li>
							</ul>

						</div>

					</div>
				</div>

			</div>
			<div class="discount"></div>

			<div class="containerorder">
				<div class="payment">
					<div class="payment__title">
						Payment Method
					</div>
					<div class="payment__types">
						<div class="payment__type payment__type--cc active">
							On Arrival (SPEEDY)
						</div>
					</div>

					<div class="payment__info">
						<div class="payment__cc">
							<div class="payment__title">
								<i class="icon icon-user"></i>Personal Information
							</div>
							<div class="form__cc">
								<div class="row">
									<div class="field">
										<div class="title">
											First Name
										</div>
										<input asp-for="OrderItemViewModel.FirstName" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.FirstName" class="text-danger"></span>
									</div>
									<div class="field">
										<div class="title">
											Last Name
										</div>
										<input asp-for="OrderItemViewModel.LastName" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.LastName" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<div class="title">
											Country
										</div>
										<input asp-for="OrderItemViewModel.Country" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.Country" class="text-danger"></span>
									</div>
									<div class="field">
										<div class="title">
											Province
										</div>
										<input asp-for="OrderItemViewModel.Province" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.Province" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<div class="title">
											City
										</div>
										<input asp-for="OrderItemViewModel.City" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.City" class="text-danger"></span>
									</div>
									<div class="field">
										<div class="title">
											Address
										</div>
										<input asp-for="OrderItemViewModel.Address" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.Address" class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<div class="title">
											Zip
										</div>
										<input asp-for="OrderItemViewModel.Zip" type="number" class="form-control input txt" aria-required="true" />
										<span asp-validation-for="OrderItemViewModel.Zip" class="text-danger"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="containerorder">
				<div class="actions">
					<button id="login-submit" type="submit" class="btn action__submit">Place your Order</button>
				</div>
		</form>
	</section>
	</div>

	<partial name="_Footer" />

	<script>
		let customImage = window.localStorage.getItem('customImage');
		document.getElementById("customImage").src = customImage;
	</script>

	<!-- REQUIRED SCRIPTS -->
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="~/js/script.js"></script>
	<script src="~/plugins/jquery/jquery.min.js"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>
