@model AprioriSite.Core.Models.AddItemViewModel

@{
	ViewData["Title"] = "Add Items";
	Layout = null;
}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewData["Title"]</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" />
	<link rel="stylesheet" href="~/plugins/toastr/toastr.min.css" />
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<partial name="_MainMenu" />
	<hr />
	<div class="item-to-database">
		<h1>Add Items To The Database</h1>
		<div class="col-md-4">
			<form asp-action="AddItem" method="post" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="PictureUrl" class="control-label"></label>
					<input asp-for="PictureUrl" class="form-control" style="border:1px solid #eb4d4b" />
					<span asp-validation-for="PictureUrl" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Label" class="control-label"></label>
					<input asp-for="Label" class="form-control" style="border:1px solid #eb4d4b" />
					<span asp-validation-for="Label" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" class="form-control" style="border:1px solid #eb4d4b" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Category" class="control-label"></label>
					<input asp-for="Category" class="form-control" style="border:1px solid #eb4d4b" />
					<span asp-validation-for="Category" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Subcategory" class="control-label"></label>
					<input asp-for="Subcategory" class="form-control" style="border:1px solid #eb4d4b" />
					<span asp-validation-for="Subcategory" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="AllowSize" class="control-label"></label>
					<select asp-for="AllowSize">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>
					<span asp-validation-for="AllowSize" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="form-label">Description</label>
				</div>
				<div class="form-outline">
					<textarea asp-for="Description" class="form-control" rows="4" style="border:1px solid #eb4d4b"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
		<a asp-action="AdminPanel">Back to Admin Panel</a>
	</div>


	<script src="~/js/script.js"></script>
</body>