@{
	ViewData["Title"] = "Admin Panel";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewData["Title"]</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />


	<title>Admin Panel</title>
</head>
<body>
	<partial name="_MainMenu" />
	<section class="products" id="products">
		<h1 class="heading"> Admin <span>Panel</span> </h1>
		<h1 class="heading"> Admin <span>Panel</span> </h1>
		<div class="filter-buttons">
			<a href="/admin/user/additem" class="btn">Add Item</a>
			<a href="/admin/user/manageusers" class="btn">Manage Users</a>
			<a href="/admin/user/manageuserorders" class="btn">Manage User Orders</a>
			<a href="/admin/user/emails" class="btn">Emails</a>
		</div>
	</section>
		<script src="~/js/script.js"></script>
</body>
</html>

